[submodule "gtest"]
	path = third_party/gtest/src
	url = https://github.com/tlemo/googletest.git
[submodule "pugixml"]
	path = third_party/pugixml/src
	url = https://github.com/tlemo/pugixml.git
[submodule "box2d"]
	path = third_party/box2d/src
	url = https://github.com/tlemo/Box2D.git
[submodule "tinyspline"]
	path = third_party/tinyspline/repo
	url = https://github.com/tlemo/tinyspline.git
[submodule "pybind11"]
	path = third_party/pybind11/repo
	url = https://github.com/tlemo/pybind11.git
